#h3-first{
    /* color: white; */
    /* background: black; */
    /* color: rgb(255, 0,0);
    background: rgb(0,0,0); */
    /* color: rgba(255, 0, 0, 1); */
    color: #ff0000;
}
#h3-second{
    /* color: white;  
    background: black; */
    /* color: rgba(255, 0, 0, 0.5); */
    color: #f15025;
}
#h3-third{
    color: #f00;
}