
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Roboto:ital,wght@0,400;1,900&display=swap');


/* h1{
    font-family: 'Licorice', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
} */

body{
    font-family: 'Roboto', sans-serif;
}

.one{
    text-align: center;
}
