*{
  margin: 0;
}

div{
  width: 150px;
  height: 150px;
  display: inline-block;
}

div:hover{
  cursor: pointer;
  background: coral;
}

.one{
  background: red;
}
.two{
  background: rgb(0, 255, 128); 
}
.three{
  background:rgba(99,26,215,1);
  transition-property: background, border-radius;
  transition-duration: 100ms, 2000ms; 
}

.three:hover{
  background:rgb(200, 255, 128);
  border-radius: 50%;
}
/* .three:hover{
  border-radius: 50%;
} */
